<div class="row">
<!--    <div class="col-md-2">&nbsp;</div>-->
    <div class="col-md-auto">
        <div id="eventsPanel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Events Manager Demo</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-auto">
                        <app-events-add></app-events-add>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <app-events-list></app-events-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="col-md-2">&nbsp;</div>-->
</div>
